{
  "semi": false,
  "overrides": [
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "semi": false,
        "singleQuote": false,
        "tabWidth": 4
      }
    },
    {
      "files": ["*.html", "*.json"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
